<div class="page-sidebar-content slimscroll">

    <!-- PROFILE -->
    <div class="profile-wrapper">

        <div class="profile-wrapper-avatar">
            <img src="published/images/profiles/profile-medium.jpg" />
        </div>

        <div class="profile-wrapper-info">
            <div class="username text-xl">
                Jonas
                <span class="semi-bold">Antonelli</span>
            </div>
            <span class="text-sm">Front-end Developer</span>

        </div>
    </div>


    <!-- NAV -->
    <span class="nav-title">Navigation</span>

    

    <ul class="nav">

        <li ui-sref-active="active">
            <a href ui-sref="dashboard">
                <i class="fa fa-home pull-left"></i>
                <span class="title">Dashboard</span>
            </a>
        </li>

        <li>
            <a href>
                <i class="fa fa-ticket pull-left"></i>
                <span class="title">Frontend</span>
            </a>
        </li>

        <li ui-sref-active="active">
            <a ui-sref="email" href>
                <span class="badge pull-right">2</span>
                <i class="fa fa-envelope"></i>
                <span class="title">Email</span>
            </a>
        </li>

        <li class="collapse-menu" ui-sref-active="active">
            <a href >
                <i class="fa fa-outdent pull-left"></i>
                <i class="fa fa-angle-left pull-right"></i>
                <span class="title">Forms</span>
            </a>
            <ul class="collapse-submenu">
                <li ui-sref-active="active">
                    <a href ui-sref="forms.elements">Elements</a>
                </li>
                <li ui-sref-active="active">
                    <a href ui-sref="forms.validations">Validations</a>
                </li>
            </ul>
        </li>

        <li class="collapse-menu" ui-sref-active="active">
            <a href>
                <i class="fa fa-puzzle-piece pull-left"></i>
                <i class="fa fa-angle-left pull-right"></i>
                <span class="title">UI Elements</span>
            </a>
            <ul class="collapse-submenu">
                <li ui-sref-active="active"><a href ui-sref="ui.typography">Typography</a>
                </li>
                <li ui-sref-active="active"><a href ui-sref="ui.messages">Messages & Notifications</a>
                </li>
                <li ui-sref-active="active"><a href ui-sref="ui.notifications">Notifications</a>
                </li>
                <li ui-sref-active="active"><a href ui-sref="ui.icons">Icons</a>
                </li>
                <li ui-sref-active="active"><a href ui-sref="ui.buttons">Buttons</a>
                </li>
                <li ui-sref-active="active"><a href ui-sref="ui.tabs">Tabs & Accordions</a>
                </li>
                <li ui-sref-active="active"><a href ui-sref="ui.sliders">Sliders</a>
                </li>
                <li ui-sref-active="active"><a href ui-sref="ui.group">Group List</a>
                </li>
            </ul>
        </li>

        <li class="collapse-menu" ui-sref-active="active" >
            <a href >
                <i class="fa fa-columns pull-left"></i>
                <i class="fa fa-angle-left pull-right"></i>
                <span class="title">Panel</span>
            </a>
            <ul class="collapse-submenu">
                <li ui-sref-active="active">
                    <a href ui-sref-"panel.simple">Simple</a>
                </li>
                <li ui-sref-active="active">
                    <a href ui-sref="panel.draggable">Draggable</a>
                </li>
            </ul>
        </li>

        <li class="collapse-menu" ui-sref-active="active">
            <a href >
                <i class="fa fa-th pull-left"></i>
                <i class="fa fa-angle-left pull-right"></i>
                <span class="title">Tables</span>
            </a>
            <ul class="collapse-submenu">
                <li ui-sref-active="active"><a href ui-sref="tables.basic">Basic Tables</a>
                </li>
                <li ui-sref-active="active"><a href ui-sref="tables.datatables">Data Tables</a>
                </li>
            </ul>
        </li>

        <li class="collapse-menu" ui-sref-active="active">
            <a href >
                <i class="fa fa-map-marker pull-left"></i>
                <i class="fa fa-angle-left pull-right"></i>
                <span class="title">Maps</span>
            </a>
            <ul class="collapse-submenu">
                <li ui-sref-active="active"><a href ui-sref="maps.google">Google Maps</a>
                </li>
                <li ui-sref-active="active"><a href ui-sref="maps.vector">Vector Maps</a>
                </li>
            </ul>
        </li>
        <li ui-sref-active="active">
            <a href ui-sref="charts">
                <i class="fa fa-bar-chart-o pull-left"></i>
                <span class="title">Charts</span>
            </a>
        </li>

        <li class="collapse-menu" ui-sref-active="active">
            <a href >
                <i class="fa fa-briefcase pull-left"></i>
                <i class="fa fa-angle-left pull-right"></i>
                <span class="title">Extra</span>
            </a>
            <ul class="collapse-submenu">
                <li ui-sref-active="active">
                    <a href ui-sref="extra.blank">Blank Page</a>
                </li>
                <li ui-sref-active="active">
                    <a href ui-sref="extra.look">Lock Screen</a>
                </li>
                <li ui-sref-active="active">
                    <a href ui-sref="extra.profile">Profile</a>
                </li>
                <li ui-sref-active="active">
                    <a href ui-sref="extra.invoice">Invoice</a>
                </li>
                <li ui-sref-active="active" >
                    <a href ui-sref="extra.pricing">Pricing Table</a>
                </li>
                <li ui-sref-active="active">
                    <a href ui-sref="extra.timeline">Timeline</a>
                </li>
                <li ui-sref-active="active">
                    <a href ui-sref="extra.media">Media Gallery</a>
                </li>
                <li ui-sref-active="active">
                    <a href ui-sref="extra.404">404 Error</a>
                </li>
                <li ui-sref-active="active">
                    <a href ui-sref="extra.500">500 Error</a>
                </li>
                <li ui-sref-active="active">
                    <a href ui-sref="extra.registration">Registration</a>
                </li>
            </ul>
        </li>

    </ul>

    <!-- NOTES !-->
    <span class="nav-title">Notes</span>

    <ul>
        <li><a href="#">To do list</a>
        </li>
    </ul>

</div>
